<h1>{{domainName}}</h1>
<div class="data-container">
  <div class="container">
    <h3>Localisation :</h3>
    <app-map  [latitude]="domain?.lat" [longitude]="domain?.lon"></app-map>
  </div>

  <div class="container">
    <h3>Informations :</h3>
    <ul>
      <li>IP : {{domain?.query}}</li>
      <li>Continent : {{domain?.continent}}</li>
      <li>Pays : {{domain?.country}}</li>
      <li>Region : {{domain?.regionName}}</li>
      <li>Ville : {{domain?.city}}</li>
      <li>Code postal : {{domain?.zip}}</li>
    </ul>
  </div>

  <div class="container">
    <h3>Connection :</h3>
    <ul>
      <li>Reverse DNS :{{domain?.reverse}}</li>
      <li>Connection mobile (cellulaire) : {{domain?.mobile ? 'Oui' : 'Non'}}</li>
      <li>Proxy, VPN ou Tor exit address : {{domain?.proxy ? 'Oui' : 'Non'}}</li>
      <li>Hosting ou data center : {{domain?.hosting ? 'Oui' : 'Non'}}</li>
    </ul>
  </div>

  <div class="container">
    <h3>Fournisseur :</h3>
    <ul>
      <li>ISP : {{domain?.isp}}</li>
      <li>Organisation : {{domain?.org}}</li>
    </ul>
  </div>

  <div class="container">
    <h3>Autre :</h3>
    <ul>
      <li>Timezone : {{domain?.timezone}}</li>
      <li>Devise : {{domain?.currency}}</li>
    </ul>
  </div>
</div>
